@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --red-primary: 227, 27, 12;
    --red-dark: 170, 20, 9;
    --red-light: 241, 70, 57;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.3s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}